#parent-container {
  width: 70vw;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
}

#crew {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 2.5em;
  letter-spacing: -0.045em;
  margin-left: 0.8em;
  color: #000000;
}

#who-are-we {
  width: 50%;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin-right: 1em;
}

#who-we-are p {
  font-size: 1rem;
}

main {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 25%;
  position: relative;
  margin: 2%;
}

img {
  width: 90%;
  height: 90%;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  margin-top: 0%;
  font-family: "Poppins", Helvetica, sans-serif;
}

.role {
  position: absolute;
  transform: rotate(90deg);
  transform-origin: top left;
  left: 100%;
  font-family: "PT Serif";
  font-size: 1em;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0em;
  width: 200px;
}

#card-2,
#card-5 {
  position: relative;
  top: 7em;
}

@media screen and (max-width: 1100px) {
  header {
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 50px;
  }

  #crew,
  #who-are-we {
    width: 95%;
    margin: 10px;
  }

  .card {
    width: 45%;
    height: 50%;
    top: 0 !important;
    margin: 0%;
  }

  .card:nth-child(even) {
    top: 7em !important;
  }

  .name {
    font-size: 1em;
  }
  .role {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 550px) {
  header {
    flex-direction: column;
    margin-bottom: 50px;
    width: 100vw;
  }

  main {
    width: 90vw;
  }
  #crew,
  #who-are-we {
    width: 90%;
    margin: 10px;
  }

  .card {
    width: 45%;
    height: 50%;
    top: 0 !important;
    margin: 0%;
  }

  .card:nth-child(even) {
    top: 7em !important;
  }

  .name {
    font-size: 1em;
    margin-top: 0;
  }
  .role {
    font-size: 0.8em;
  }
}
